body {
  font-family: sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: flex-start;
  gap: 100px;
}

.header-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.awesome-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.awesome-button p {
  color: #e5e7eb;
  font-size: 18px;
}

.awesome-button button {
  padding: 10px 30px;
  font-size: 18px;
  color: white;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  margin: 0;
}

.placeholder-image {
  background-color: gray;
  height: 230px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-image p {
  color: #e5e7eb;
  font-size: 18px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 24px;
}

.awesome {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.card-image {
  border: solid 5px #3882f6;
  border-radius: 20px;
  height: 180px;
  width: 180px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 180px;
}

.content-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
}

.card-text p {
  text-align: center;
  color: gray;
  font-size: 18px;
}

.quote {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 350px;
}

.quote-itself {
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: 750;
}

.action-container {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  background-color: #3882f6;
  width: 900px;
  padding: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.call-to-action button {
  padding: 10px 30px;
  font-size: 18px;
  color: white;
  background-color: #3882f6;
  border: solid 2px white;
  border-radius: 10px;
  margin: 0;
}

.action-text-container h3 {
  font-size: 24px;
  font-weight: 750;
  color: white;
  margin: 0;
  padding: 0;
}

.action-text-container p {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 18px;
  color: rgb(183, 179, 179);
}
